<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>
<style>
    body {text-align: center;}   
</style>

<body>
    
<div class="homepage-header">
    <h1><strong>Website Name</strong></h1>
    <div class="account-buttons">
        <a href="/login?form=register">Sign up</a>
        <a href="/login?form=login">Log in</a>
    </div>
</div>

     <h1><strong>Real trips. Real students. Real advice.</strong> </h1>

<h2>Trending Itineraries</h2>

<div class="trending-itinerary-container">
    <a class="card-link" href="{{ url_for('itinerary_display', itinerary_id=1) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Tokyo Budget Trip</div>
        </div>
        <div class="card-info">
            <p class="card-title">Tokyo Budget Trip</p>
            <p class="card-meta">7 Days</p>
            <p class="card-meta">Tokyo, Japan</p>
        </div>
    </a>
    <a class="card-link" href="{{ url_for('itinerary_display', itinerary_id=2) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Kyoto Cultural Journey</div>
        </div>
        <div class="card-info">
            <p class="card-title">Kyoto Cultural Journey</p>
            <p class="card-meta">5 Days</p>
            <p class="card-meta">Kyoto, Japan</p>
        </div>
    </a>
    <a class="card-link" href="{{ url_for('itinerary_display', itinerary_id=3) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Seoul Food Adventure</div>
        </div>
        <div class="card-info">
            <p class="card-title">Seoul Food Adventure</p>
            <p class="card-meta">5 Days</p>
            <p class="card-meta">Seoul, South Korea</p>
        </div>
    </a>

     <a class="card-link" href="{{ url_for('itinerary_display', itinerary_id=3) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Seoul Food Adventure</div>
        </div>
        <div class="card-info">
            <p class="card-title">Seoul Food Adventure</p>
            <p class="card-meta">5 Days</p>
            <p class="card-meta">Seoul, South Korea</p>
        </div>
    </a>

     <a class="card-link" href="{{ url_for('itinerary_display', itinerary_id=3) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Seoul Food Adventure</div>
        </div>
        <div class="card-info">
            <p class="card-title">Seoul Food Adventure</p>
            <p class="card-meta">5 Days</p>
            <p class="card-meta">Seoul, South Korea</p>
        </div>
    </a>

    </div>

<h2>What you get when you join for free</h2>

<div class="trending-itinerary-container">
    <div class="feature-detail-box">
        <div class="detail-icon-panel">
            <i class="fa-solid fa-calendar-days"></i>
        </div>
        <div class="detail-content">
            <div class="activities-content">
                <div class="activities-collapsed">
                    <p style="font-size: 20px; margin: 2px 0;">Save ready-made itineraries for your next holiday</p>
                </div>
                <div class="activities-expanded" style="display: none;">
                    <p class="activity-name" style="font-size: 20px; margin: 0;"></p>
                    <p class="activity-desc" style="font-size: 15px; margin: 5px 0;"></p>
                </div>
            </div>
        </div>
    </div>

        <div class="feature-detail-box">
            <div class="detail-icon-panel">
                <i class="fa-solid fa-person-circle-plus"></i>
            </div>
        <div class="detail-content">
            <div class="activities-content">
                <div class="activities-collapsed">
                    <p style="font-size: 20px; margin: 2px 0;">Connect with your travel buddies</p>
                </div>
                <div class="activities-expanded" style="display: none;">
                    <p class="activity-name" style="font-size: 20px; margin: 0;"></p>
                    <p class="activity-desc" style="font-size: 15px; margin: 5px 0;"></p>
                </div>
            </div>
        </div>
    </div>

           <div class="feature-detail-box">
        <div class="detail-icon-panel">
             <i class="fa-solid fa-paper-plane"></i>
        </div>
        <div class="detail-content">
            <div class="activities-content">
                <div class="activities-collapsed">
                    <p style="font-size: 20px; margin: 2px 0;">Share trip ideas with others</p>
                </div>
                <div class="activities-expanded" style="display: none;">
                    <p class="activity-name" style="font-size: 20px; margin: 0;"></p>
                    <p class="activity-desc" style="font-size: 15px; margin: 5px 0;"></p>
                </div>
            </div>
        </div>
    </div>

           <div class="feature-detail-box">
        <div class="detail-icon-panel">
            <i class="fa-solid fa-file-pen"></i>
        </div>
        <div class="detail-content">
            <div class="activities-content">
                <div class="activities-collapsed">
                    <p style="font-size: 20px; margin: 2px 0;">Contribute by sharing your own itineraries</p>
                </div>
                <div class="activities-expanded" style="display: none;">
                    <p class="activity-name" style="font-size: 20px; margin: 0;"></p>
                    <p class="activity-desc" style="font-size: 15px; margin: 5px 0;"></p>
                </div>
            </div>
        </div>
    </div>

</div>

<h2>About</h2>
<p> aboutabout about about aboutabout about about aboutabout about about about about about aboutabout about about </p>

</body>

</html>
