<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
     <!--Navigation bar-->
    <div class ="navigation-bar">
        <ul>
            <li><a href="{{ url_for('user_profile') }}">Your Profile</a></li>
            <li><a href="{{ url_for('itinerary_create') }}">Create Itinerary</a></li>
            <li><a href="{{ url_for('dms') }}">Messages</a></li>
            <li><a href="#">Feed</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>

    <!-- Website Title -->
    <div class="page-wrapper">
        <div class="middle-column">
            <h1>Website Name</h1>

    <!-- Profile Section -->
        <div class="profile-section">
            <div class="profile-pic"></div>
            <h2 class="username">Username</h2>
        </div>

    <!-- Bio -->
        <p class="bio">
            Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography Biography.
        </p>

    <!-- Itineraries -->
        <h2>Your Itineraries</h2>

<div class="itinerary-container">
    <a href="{{ url_for('itinerary_display', itinerary_id=1) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Itinerary Title</div>
        </div>
    </a>
    <a href="{{ url_for('itinerary_display', itinerary_id=2) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Itinerary Title</div>
        </div>
    </a>
    <a href="{{ url_for('itinerary_display', itinerary_id=3) }}">
        <div class="itinerary-card">
            <div class="overlay-text">Itinerary Title</div>
        </div>
    </a>
</div>
        </div>

    </div>

</body>
</html>
